.App {
  width: 100vw; /* Width is 100% of the viewport width */
  height: 100vh; /* Height is 100% of the viewport height */
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 20px;
}

/* Font:  Syne and Archivo*/
