.headerContainer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  .headerLinks {
    display: flex;
    flex-direction: row;

    & > div {
      margin-right: 40px;
      cursor: pointer;
    }
  }
}

.outletContainer {
  height: 92vh;
}
